.VacanciesList a{
    color: #fff;
    text-decoration: none;
  }
  .VacanciesList{
    display: flex;
    flex-wrap: wrap;
    max-width: 1300px;
    margin: 0 auto;
    justify-content: center;
  }
  .Vcard{
    background-color: #242424;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px 0px 20px;
    transition: box-shadow .5s, transform .5s;
  }
  .Vcard:hover{
    color: #ffdc23;
    box-shadow: 10px 10px 0px #ffdc23;
    transform: translate(-10px, -10px);
  }
  .Vcard>img{
    height: 250px;
  }
  .Vcard>span{
    font-size: 26px;
    margin: 20px 0px;
    transition: color .5s;
  }