.home{
    padding: 0px 40px;
  }
  .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  .info>div{
    display: flex;
    align-items: baseline;
  
  }
  .info{
    margin: 50px auto;
  }
  .info img{
    width: 40px;
    height: 90px;
    position: relative;
    top: 20px;
  }
  .info h2{
    color: #C30302;
    font-family: 'Arabian';
    font-size: 66px;
    margin: 30px 0px;
  }
  @media (max-width: 450px) {
    .info h2{
      font-size: 45px;
    }
  }
  @media (max-width: 380px) {
    .info h2{
      font-size: 25px;
    }
    .info img{
      width: 20px;
      height: 50px;
    }
    .info p{
      font-size: 12px;
    }
  }