.Footer{
    background-color: #242424;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 50px 130px;
  }
  
  
  @media (max-width: 1230px) {
    .Footer{
      flex-direction: column;
      align-items: center;
      padding: 30px 60px;
    }
    .Footer>div{
      margin-bottom: 50px;
      margin-right: 0px;
      padding: 0px;
    }
  }
  @media (max-width: 500px) {
    .Footer{
      padding: 20px 30px;
    }
  }